<%- include("partials/header"); %>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img class="genshin-impact-logo" src="images/paimon-logo.png" alt=""> GenshinPedia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Skill Talents
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#normalAttack">Normal Attack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#elementalSkill">Elemental Skill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#elementalBurst">Elemental Burst</a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#passiveTalents">Passive Talents</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#constellations">Constellations</a>
              </li>
            </ul>
            <form class="d-flex" method="post" role="search" >
              <input class="form-control me-2" type="search" name="character" placeholder="Character Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" value="Search" formaction="/post-character">Search</button>
            </form>
          </div>
        </div>
      </nav>

   <% if( locals.name ){ %>
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="character-header">
                            <img class="vision-icon" src="https://genshin.jmp.blue/elements/<%= vision %>/icon/" alt=""> 
                            <%= name %> 
                        </h1>
                    </div>
                    <div class="col-lg-4"> 
                       <!-- nothing -->
                    </div>
                    <div class="col-lg-2">
                        <img class="weapon-icon" src="images/<%= weapon %>.webp" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title-header"> <%= title %> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <p> <%= description %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TODO: Insert Skills and Constellaton Data -->
                        <!-- Skill Talents -->
                        <% for(var i = 0; i < skillTalents.length; i++){ %>
                                <% if( skillTalents[i].unlock === "Normal Attack"){ %>
                                <h4 class="pt-4 skill-talent-block">
                                    <img id="normalAttack" class ="talent-icon" src=" https://genshin.jmp.blue/characters/<%= imageName %>/talent-na" alt="">
                                    <%= skillTalents[i].unlock %>:
                                </h4>
                                    <h5 class="skill-talent-block">[<%= skillTalents[i].name %>]</h5>
                                    <p class="pt-3"> <%= skillTalents[i].description %></p>
                                    <!-- Accordion 1 -->
                                    <div class="accordion accordion-flush" id="">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Show Additional Details
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="">        
                                                <div class="accordion-body">        
                                                    <% if( skillTalents[i].upgrades ){ %>
                                                        <% for(var j=0; j < skillTalents[i].upgrades.length; j++){ %>
                                                            <table class="table custom-table table-hover">
                                                                <tbody>
                                                                <tr>
                                                                    <td class=""><%= skillTalents[i].upgrades[j].name %></td>
                                                                    <td class=""><%= skillTalents[i].upgrades[j].value %></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        <% } %>
                                                    <% }else{ %>
                                                        <table class="table custom-table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="">Currently Not Available</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    <% } %>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>    

                                <% }else if( skillTalents[i].unlock === "Elemental Skill" ){ %>
                                    <h4 class="pt-4 skill-talent-block">
                                        <img id="elementalSkill" class ="talent-icon" src=" https://genshin.jmp.blue/characters/<%= imageName %>/talent-skill" alt="">
                                        <%= skillTalents[i].unlock %>:
                                    </h4>
                                    <h5 class="skill-talent-block">[<%= skillTalents[i].name %>]</h5>
                                    <p class="pt-3"> <%= skillTalents[i].description %></p>
                                    <!-- Accordion 2 -->
                                    <div class="accordion" id="">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    Show Additional Details
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="">        
                                                <div class="accordion-body">  
                                                    <% if( skillTalents[i].upgrades ){ %>      
                                                        <% for(var j=0; j < skillTalents[i].upgrades.length; j++){ %>
                                                            <table class="table custom-table table-hover">
                                                                <tbody>
                                                                <tr>
                                                                    <td class=""><%= skillTalents[i].upgrades[j].name %></td>
                                                                    <td class=""><%= skillTalents[i].upgrades[j].value %></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        <% } %>
                                                    <% }else{ %>
                                                        <table class="table custom-table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="">Currently Not Available</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                <% }else if( skillTalents[i].unlock === "Elemental Burst" ){ %>
                                    <h4 class="pt-4 skill-talent-block">
                                        <img id="elementalBurst" class ="talent-icon" src=" https://genshin.jmp.blue/characters/<%= imageName %>/talent-burst" alt="">
                                        <%= skillTalents[i].unlock %>:
                                    </h4>
                                    <h5 class="skill-talent-block">[<%= skillTalents[i].name %>]</h5>
                                    <p class="pt-3"> <%= skillTalents[i].description %></p>
                                    <!-- Accordion 3 -->
                                    <div class="accordion" id="">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                    Show Additional Details
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="">        
                                                <div class="accordion-body">       
                                                    <% if( skillTalents[i].upgrades ){ %>       
                                                        <% for(var j=0; j < skillTalents[i].upgrades.length; j++){ %>
                                                            <table class="table custom-table table-hover">
                                                                <tbody>
                                                                <tr>
                                                                    <td class=""><%= skillTalents[i].upgrades[j].name %></td>
                                                                    <td class=""><%= skillTalents[i].upgrades[j].value %></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        <% } %>
                                                    <% }else{ %>
                                                        <table class="table custom-table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="">Currently Not Available</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  

                                <% } %>
                        <% } %>
                        
                        <!-- Passive Talents -->
                        <h4 id="passiveTalents" class="pt-4"> Passive Talents</h4>
                        <% for(var i = 0; i < passiveTalents.length; i++){ %>
                            <table class="table custom-table table-hover">
                                <tbody>
                                  <tr>
                                    <td class=""><img class="passive-talent-icon" src="https://genshin.jmp.blue/characters/<%= imageName %>/talent-passive-<%= i %>" alt=""> <%= passiveTalents[i].name %></td>
                                    <td class=""><%= passiveTalents[i].description %></td>
                                  </tr>
                                </tbody>
                            </table>
                            
                        <% } %>
                        
                        <!-- Constellations -->
                        <h4 id="constellations" class="pt-4"> Constellations</h4>
                        <% for(var i = 0; i < constellations.length; i++){ %>
                            <table class="table custom-table table-hover">
                                <tbody>
                                  <tr>
                                    <td class=""><img class="constellations-icon" src=" https://genshin.jmp.blue/characters/<%= imageName %>/constellation-<%= constellations[i].level %>" alt=""> <%= constellations[i].name %></td>
                                    <td class=""><%= constellations[i].unlock %></td>
                                    <td class=""><%= constellations[i].description %></td>
                                  </tr>
                                </tbody>
                            </table>

                        <% } %>
                      
                        
                    </div>
                </div>
            </div>
            <!-- Side bar -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <% for(var i = 0; i < rarity ; i++){ %>
                            <i class="fa-solid fa-star fa-2x"></i>
                        <% } %>
                       
                    </div>
                </div>
                <div class="row text-center">
                    <!-- TODO: Insert Image -->
                    <img class="character-image mx-auto" src="https://genshin.jmp.blue/characters/<%= imageName %>/card/"  alt="">
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center"> 
                        <p> <%= gender %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p> <%= nation %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p> <%= affiliation %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p> <%= constellation %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p> Birthday: <%= birthday %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p> Release Date: <%= release %> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

</body>
<%- include("partials/footer"); %>