<%- include("partials/header"); %>
<body>

    <form method="post">
        <!-- Search Input -->
       <label for="character">Character: </label>
       <input type="text" name="character">
       <input type="submit" value="Search" formaction="/post-character">
   </form>   

   <% if( locals.name ){ %>
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="text-primary"> <%= name %> </h1>
                    </div>
                    <div class="col-lg-3">
                        <h1> <%= weapon %> </h1>
                    </div>
                    <div class="col-lg-3">
                        <h1> <%= vision %> </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2> <%= title %> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= description %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TODO: Insert Skills and Constellaton Data -->
                    </div>
                </div>
            </div>
            <!-- Side bar -->
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <h1> <%= rarity %> </h1>
                    </div>
                </div>
                <div class="row">
                    <!-- TODO: Insert Image -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= gender %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= nation %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= affiliation %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= constellation %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= birthday %> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p> <%= release %> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!-- API Data -->
    <!-- <% if( locals.name ){ %>
        <h1 class="text-primary"> <%= name %> </h1>
        <h2> <%= title %> </h2>
        <h1> <%= vision %> </h1>
        <h1> <%= weapon %> </h1>
        <h3> <%= gender %> </h3>
        <h2> <%= nation %> </h2>
        <p> <%= affiliation %> </p>
        <h2> <%= rarity %> </h2>
        <p> <%= release %> </p>
        <p> <%= constellation %> </p>
        <p> <%= birthday %> </p>
        <p> <%= description %> </p>
    <% } %> -->

</body>
<%- include("partials/footer"); %>